<h1>備忘録一覧</h1>

<div>
  <table class="table">
    <thead>
      <th>山名</th>
      <th>エリア</th>
      <th>標高</th>
      <th>登山日</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @mountains.each do |mountain| %>
      <tr>
        <th><%= mountain.name%></th>
        <th>
          <%= mountain.area %>.
          <% if mountain.area == 1 %>
            <%= "尾張" %>
          <% elsif mountain.area == 2 %>
            <%="西三河"%>
          <% elsif mountain.area == 3 %>
            <%="奥三河"%>
          <% elsif mountain.area == 4 %>
            <%="東三河"%>
          <% elsif mountain.area == 5 %>
            <%="中国"%>
          <% end %>
        </th>
        <th><%= mountain.height %></th>
        <th><%= mountain.climbing_date %></th>
        <th><%= link_to "編集", "/mountains/#{mountain.id}/edit", class: 'btn btn-success btn-xs'%></th>
        <th><%= link_to "画像", mountain_photos_path(mountain),class: 'btn btn-primary btn-xs'  %></th>
        <th><%= link_to "削除", mountain, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-center">
  <%= link_to "新規備忘録", new_mountain_path, class: "btn btn-primary"%>
</div>