<div class="data-top">
  <h1><%= @mountain.name %></h1>
  <div class="top-right">
    <p>登山日 <%= @mountain.climbing_date %></p>
  </div>
</div>
<div class="data-main">
  <div class="row">
  <div class="main-left col-sm-6">
    <h2>基本データ</h2>
    <table class="table">
      <tr>
        <th>標高</th>
        <td><%= @mountain.height %>m</td>
      </tr>
      <tr>
        <th>所要時間</th>
        <td><%= @mountain.time %></td>
      </tr>
      <tr>
        <th>歩行距離</th>
        <td><%= @mountain.distance %>km</td>
      </tr>
      <tr>
        <th>高低差</th>
        <td><%= @mountain.height_difference %>m</td>
      </tr>
      <tr>
        <th>眺望</th>
        <td>
          <% @mountain.view.times do%>
          <%= "★" %>
          <% end %>
          <% (5 - @mountain.view).times do %>
          <%= "☆" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>おすすめ度</th>
        <td>
          <% @mountain.recommend.times do%>
          <%= "★" %>
          <% end %>
          <% (5 - @mountain.recommend).times do %>
          <%= "☆" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>お疲れ度</th>
        <td>
          <% @mountain.fatigue.times do%>
          <%= "★" %>
          <% end %>
          <% (5 - @mountain.fatigue).times do %>
          <%= "☆" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="main-right col-sm-6">
    <h2></h2>
    <% if @mountain.route? %>
      <%= image_tag @mountain.route.url%>
　  <% else %> 
　　  <%= image_tag 'noimage.gif' %>
  　<% end %>
  </div>
  </div>
</div>

<p></p>

<div class="images">
  <div class="row mountain-images">
    <%if @photos%>
      <% @photos.each do |photo| %>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= image_tag photo.image.url %>
          <p><%= photo.comment %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="data-bottom">
  <h2>感想</h2>
  <p><%= @mountain.comment %></p>
</div>