<div class="mountains-show">
  <div class="mountain-name">
    <h1><%= @mountain.name %></h1>
    <p>登山日 <%= @mountain.climbing_date %></p>
  </div>
  
  <div class="mountain-record">
    <h2>山歩き記録</h2>
    <div class="data">
      <table class="table">
      <tr>
        <th>標高</th>
        <td><%= @mountain.height %>m</td>
      </tr>
      <tr>
        <th>所要時間</th>
        <td><%= @mountain.time %></td>
      </tr>
      <tr>
        <th>歩行距離</th>
        <td><%= @mountain.distance %>km</td>
      </tr>
      <tr>
        <th>高低差</th>
        <td><%= @mountain.height_difference %>m</td>
      </tr>
      <tr>
        <th>眺望</th>
        <td>
          <% @mountain.view.times do%>
          <%= "★" %>
          <% end %>
          <% (5 - @mountain.view).times do %>
          <%= "☆" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>おすすめ度</th>
        <td>
          <% @mountain.recommend.times do%>
          <%= "★" %>
          <% end %>
          <% (5 - @mountain.recommend).times do %>
          <%= "☆" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>お疲れ度</th>
        <td>
          <% @mountain.fatigue.times do%>
          <%= "★" %>
          <% end %>
          <% (5 - @mountain.fatigue).times do %>
          <%= "☆" %>
          <% end %>
        </td>
      </tr>
    </table>
    </div>
    <div class="route">
      <% if @mountain.route? %>
        <%= image_tag @mountain.route.url%>
　    <% else %> 
　　    <%= image_tag 'noimage.gif' %>
    　<% end %>
    </div>
  </div>
  
  <div class="mountain-images">
    <h2>写　真</h2>
    <%if @photos%>
      <% @photos.each do |photo| %>
        <div class="mountain-image">
          <%= image_tag photo.image.url %>
          <p><%= photo.comment %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="mountain-comment">
    <h2>感　想</h2>
    <p><%= @mountain.comment %></p>
  </div>
</div>

