<% content_for :cover do %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <div class="greeting text-center">
          
          <% if manager_logged_in? %>
            <p>管理人としてログインしています</p>
            <%= link_to "ログアウト", managers_logout_path, method: :delete %>
          <% else %>
            <p>山おじさんのホームページへようこそ<br>
               愛知の130山を紹介しています</p>
          <% end %>
          
        </div>
        <div class="main-image top-image">
          <img src="images/top.jpg" alt="山トップ画像"  class="img-responsive center-block">
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if manager_logged_in? %>
  <ul>
    <li><%= link_to "備忘録一覧", mountains_path %></li>
    <li><%= link_to "ギャラリー", galleries_path %></li>
    <li><%= link_to "お知らせ", new_information_path %></li>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="aichinoyama">
      <h2>愛知の130山</h2>
      <p>愛知県には「尾張」「西三河」「奥三河」「東三河」の４地域で、全部で130の山があります。</p>
    </div>
    <div class="information">
      <h2>What's New</h2>
      <% @information.each do |information| %>
      <dl>
        <dt>・<%= information.content %></dt>
        <dd><%= information.created_at %>
        <% if manager_logged_in? %>
          <%= link_to "削除", information, method: :delete, class: 'btn btn-danger btn-xs' %>
        <% end %>
        </dd>
      </dl>
    <% end %>
    </div>
  </div>
</div>


    

