<%= form_for([mountain, photo]) do |f| %>

    
    <%= f.label :image, "画像" %>

        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
  
  
  
  <%= f.label :comment, "コメント" %>
  <%= f.text_area :comment, class: "form-control" %>
  <p></p>
  <%= f.submit "投稿",class: 'btn-primary btn-block' %>
<% end %>
