<h1>頂上編集ページ（準備中）</h1>
<%= form_for(@summit) do |f| %>
  
  <%= f.label :image, "写真" %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
  
  <%= f.label :comment, "コメント" %>
  <%= f.text_area :comment, class: "form-control" %>
  <p></p>
  <%= f.submit "投稿",class: 'btn-primary btn-block' %>
<% end %>
  
<%= link_to '一覧に戻る', summits_path %>