<h1>頂上編集ページ（準備中）</h1>
<%= form_for(@summit) do |f| %>
  
  <%= image_tag(@summit.image_url) %><br>
  
  <%= f.label :comment, "コメント" %>
  <%= f.text_area :comment, class: "form-control" %>
  <p></p>
  <%= f.submit "投稿",class: 'btn-primary btn-block' %>
<% end %>
  
<%= link_to '一覧に戻る', summits_path %>