

<div class="summit">
  <h1>頂上（準備中です）</h1>
  <p>クリックして拡大してね</p>
  
  <% if manager_logged_in? %>
  <div class="text-center"><%= link_to "写真を追加", new_summit_path, class: "btn btn-primary" %></div>
  <% end %>
  
  
  <div class="summit-images">
    <% @summits.each do |summit| %>
      <div class="summit-image">
        
        <%= image_tag(summit.image_url)%>
        <p><%= summit.comment %></p>
        <% if manager_logged_in? %>
          <%= link_to "編集", "/summits/#{summit.id}/edit", class: 'btn btn-success btn-xs'%>
          <%= link_to "削除", summit, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @summits %>
  
  <div class="image-modal-wrapper">
    <div class="Modal">
      <div class="close-modal">
        <i class="fa fa-times"></i>
      </div>
      <div class="next-modal">
        <i class="fa  fa-angle-right"></i>
      </div>
      <div class="before-modal">
        <i class="fa fa-angle-left"></i>
      </div>
      <div class="modal-image">
          
      </div>
    </div>
  </div>
</div>

