<h1><%= @gallery.name %></h1>

<div class="gallery-show">
  <div class="show-image"><%= image_tag @gallery.image.url class:"img-responsive center-block" %></div>
  <p></p>
  <p><%= @gallery.comment %></p>
</div>
  
  <% if manager_logged_in? %>
    <%= link_to "編集", "/galleries/#{@gallery.id}/edit", class: 'btn btn-success btn-xs'%>
    <%= link_to "削除", @gallery, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
  <% end %>
  
<p><%= link_to "一覧に戻る", galleries_path %></p>